/* Make hero image taller */
.page__hero--overlay {
  min-height: 100vh !important;  /* Increase height */
  display: flex;
  align-items: center;
}

.page__hero-image {
  object-fit: cover;
  height: 75vh !important;
}
