---
# Only the main Sass file needs front matter
---

@import "minimal-mistakes";

/* Make hero image taller */
.page__hero--overlay {
  min-height: 100vh !important;
  display: flex;
  align-items: center;
}

.page__hero-image {
  object-fit: cover;
  height: 100vh !important;
}
