---
# Only the main Sass file needs front matter
---

/* Import the selected skin */
@import "minimal-mistakes/skins/dark";

/* Import the rest of the theme */
@import "minimal-mistakes";

/* Your custom changes */
.page__hero--overlay {
  min-height: 100vh !important;
  display: flex;
  align-items: center;
}

.page__hero-image {
  object-fit: cover;
  height: 100vh !important;
}
